[Unit]
Description=Check signage repo periódicamente
After=network-online.target
Wants=network-online.target

[Timer]
OnBootSec=3min
OnUnitActiveSec={{ signage_update_every }}
Unit=signage-update.service
Persistent=yes

[Install]
WantedBy=timers.target
